:root {
    --green: #7EA23E;
    --white: #ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7%;
  }
  
    /* Header base style */
    .site-header {
    position: absolute;
    top: 35px;
    width: 100%;
    z-index: 1000;
    background: transparent;
    transition: 0.4s;
    
  }
  
  /* Sticky Header Style */
  .site-header.sticky {
    position: fixed;
    top: 0px;
    width: 90%;
    background: rgba(1, 3, 7, 0.322);
    /*background: rgba(101, 167, 27, 0.11);*/
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 20px;
    margin: 10px 5%;
    transition: 0.4s;
  }
  
  
  /* Smooth transition for nav styling changes */
  .site-header .nav-menu a,
  .site-header .btn {
    transition: all 0.3s ease;
  }

  
  .logo {
    height: 70px;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-menu li {
    position: relative;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: 450;
    padding: 8px 12px;
    transition: 0.3s;
  }
  
  .nav-menu li:hover > a {
    color: var(--green);
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    top: 100%;
    left: 0;
    padding: 10px 0;
    min-width: 200px;
  }
  
  .dropdown-menu li {
    width: 100%;
    list-style-type: none;
    padding-left: 10px; 
    margin: 0px;       
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 8px 0px;
    font-weight: 300;
    color: white;
    border-bottom: 1px solid gray;
  }
  
  .dropdown-menu a:hover {
    color: var(--green);
    font-weight: 450;
  }
  
  .cta-buttons {
    display: flex;
    gap: 7px;
  }
  
  .btn {
    padding: 10px 16px;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .btn.green {
    background-color: var(--green);
    color: white;
    border: none;
  }
  
  .btn.outlined {
    border: 1px solid white;
    color: white;
    background: transparent;
  }
  
  .hero {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  /*----------------------------------------*/

  .projects-section {
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
    background: #ffffff;
  }

/*-------------------card data---------------------*/

.container1{
    display: flex;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}
.cards-container{
    display: flex;
    row-gap: 3.5rem;
}
.card-article{
    position: relative;
    overflow: hidden;
}  
.card-article:hover .card-data{
 animation: show-data 1s forwards;
 opacity: 1;
 transition: opacity .3s;
}

 .card-article:hover{
    animation: remove-overflow 2s forwards;
}
.card-article:not(:hover){
    animation: show-overflow 2s forwards;
}
.card-article:not(:hover) .card-data{
    animation: remove-data 1s forwards;
}

.card-article:not(hover){
    animation: remove-overflow 2s forwards;
}

.card-img{
    margin-top: 35px;
    width: 450px;
    border-radius: 5px;
    height: 570px;
    cursor: pointer;
    
}
.card-data{
    width: 93%;
    padding: 1.5rem 2rem;
    background-color: #fff;
    color: #333;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto; 
    opacity: 0;
    transition: opacity 1s 1s;
}
  
  .card-img:hover {
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.5);
  }

.card-description{display: block; font-size: small;
    margin-bottom: .25rem;}
.card-title{font-size: large;margin-bottom: .75rem;}

@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(0.5rem);
    }
}

@keyframes show-overflow {
    0%{overflow: initial;
    pointer-events: none;}
    50%{overflow: hidden;}
}
  .card-description{
    display: block;
    margin-bottom: 0.26rem ;
  }

/*----------------------------------------*/
  
  .section-title {
    font-size: 2.5rem;
    color: #1D3956;
    margin-bottom: 20px;
  }
  
  .section-desc {
    max-width: 800px;
    margin: 0 auto 40px;
    color: #555;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .project-box {
    position: relative;
    width: 20%;
    height: 570px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.4s;
    padding: 0;
  }
  
  .project-box:hover {
    transform: scale(1.02);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.5);
  }
  
  .overlay {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;

    
  }
  
  .project-box:hover .overlay {
    opacity: 1;
  }
  
  /* Centered heading for first box */
  .center-heading .overlay {
    justify-content: center;
    text-align: center;
  }
  
  /* Bottom heading for others */
  .bottom-heading .overlay {
    justify-content: flex-end;
    display: flex;
    padding: 30px;
  }
  
  .bottom-heading h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .project-logo {
    margin: auto;
    max-width: 120px;
    height: auto;
  }

  /* Phones (1 in a row) */
@media (max-width: 576px) {
    .project-box {
      flex: 1 1 100%;
      max-width: 100%;
    }
  
    .section-title {
      font-size: 1.8rem;
    }
  
    .section-desc {
      font-size: 0.95rem;
      padding: 0 10px;
    }
  }
  /* ------------------------------------------------------*/

  .services-section {
    width: 100vw;
    background: #f9f9f9;
  }

  .section-title {
    width: 100%;
    text-align: center;
    padding-top: 7%;
  }

  .section-desc {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .cards-container {
    display: flex;
    gap: 0;
    padding-bottom: 15px;
    justify-content: center;
    align-items: stretch;
    overflow-x: auto;
    width: 100vw;
    
    
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .card {
    width: 20%;
    height: 600px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    transition: width 0.6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.5);
    position: relative;
    
  }
  
  .card .row {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0);
    color: white;
    padding-bottom: 50px;
  }
  
  .icon {
    /*background: rgb(109, 126, 62);*/
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    justify-content:flex-start;
    align-items:start;
    margin-right: 20px;

    flex-shrink: 0;
  }
  .titlee {
    padding-left: 20px;
    margin-top: -20px;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  input:checked + .card .titlee {
    opacity: 0;
  }
  
  .description {
    opacity: 0;
    transition: all 0.4s;
    max-width: 400px;
  }
  
  
  input:checked + .card {
    width: 40%;
  }
  
  input:checked + .card .description {
    opacity: 1;
  }
  
  .description h4 {
    margin: 0;
    font-size: 1.2rem;
    transform: translateY(0px);
  }
  
  .description p {
    margin-top: 8px;
    font-size: 0.95rem;
    color: #e0e0e0;
  }
  
  .description button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #7ea23e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: normal;
    transition: background 0.3s;
  }
  
  .description button:hover {
    background-color: #4f6b0e;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .cards-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 90% !important;
      height: 15%;
    }
  
    input:checked + .card {
      width: 90% !important;
    }
  }

  /* ----------------------------footer------------------------------*/

  .footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 1.1rem;
    background: #f9f9f9;
    color: #333;
    font-weight: 500;
  }
  
  .heart {
    color: #7ea23e; 
    font-size: 1.1rem;
  }
  
  